<div ng-app="app" ng-controller="app.views.CustomerCon.Custcon as vm">
    <div class="card" id="body1">
        <div class="modal-header">
            <h4>Customer consignment</h4>
        </div>
        <div class="modal-body" id="bodyse3">
            <form id="form1">
                <div class="row">

                    <div class="col-xs-8">
                        <label>Account :</label>
                        <input id="acc1"  class="ha form-control" ng-keypress="vm.listen($event)" />

                    </div>

                    @*<button class="btn btn-primary" ng-click="vm.checkacc(vm.check.account)">check</button><br />*@
                </div>
                <div id="nextform1" hidden="true">
                    <div class="col-md-6">
                        <div>
                            <label>Account type :</label>
                            <input id="acctype1" class="form-control" /><br />
                        </div>
                        <div>
                            <label>Print Type :</label>
                            <select id="print1" class="form-control">
                                @*<option>Sender only</option>*@
                            </select>
                        </div>
                        <div id="senddiv">
                            <label>Sender :</label>
                            <input id="sender1" class="form-control" />
                            <p id="address1"></p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div>
                            <label>Requisition Type:</label>
                            <div class="form-check">
                                <input id="normal" class="form-check-input" value="Normal" type="radio" />
                                <label>Normal</label>
                            </div>
                            <div class="form-check">
                                <input id="rc" class="form-check-input" value="RC" type="radio" />
                                <label>RC</label>
                            </div><br />
                            <div>
                                <label>Quantity :</label>
                                <input id="quan1" class="form-control" />
                            </div>
                            <div id="recediv">
                                <label>Receiver :</label>
                                <input id="receiver1" class="form-control" />
                                <p id="addrceiver1"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="email1">

                            <div class="col-xs-8">
                                <label>Email To:</label>
                                <input id="emaildat1" class="form-control" /><br />
                            </div>

                        </div>
                        <div>

                            <div class="col-xs-8">
                                <label>Remarks :</label>
                                <input id="remark1" class="form-control" />
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <div id="pluspage">

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="vm.add()"> Add</button>
            <button class="btn btn-primary" ng-click="vm.submit()">Submit</button>
        </div>
    </div>
    @*<script language="javascript">
        var e;
      function listener(e){
     if (e.key ==="Enter") {
                        var x = document.getElementById(ids).value;
                        vm.checkacc(x);
                    }
      }
    </script>*@

</div>