<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div ng-app="app" ng-controller="app.views.InboundBags.InboundBag as vm">
    <style>
        .col-md-10 {
            border-radius: 5px;
            width: 100%;
            margin: 0px auto;
            float: none;
            /*background-color:white;*/
        }
        .vertical-alignment-helper {
            display: table;
            height: 100%;
            width: 100%;
        }

        .vertical-align-center {
            /* To center vertically */
            display: table-cell;
            vertical-align: middle;
        }

        .modal-content {
            /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
            width: inherit;
            height: inherit;
            text-align: center;
            /* To center horizontally */
            margin: 0 auto;
        }
    </style>
    <div class="card" style="max-width: 200rem; max-height:7000rem;">
        <div class="row" style="background-color: #D3D3D3;">
            <h4 style="text-align:center;">Branch Consignment Note Requisition</h4>
            @*<h2>{{user}}</h2>
            <h2>{{var}}</h2>*@
        </div>
        <div class="modal-body">
            <form>
                <div style="margin-left:5%; margin-top:3%;" class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Branch: *</label>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="vm.insert.branch" ng-change="vm.cleardata()">
                                    <option value="{{branch.origin_code}}" ng-repeat="branch in vm.branch">{{branch.origin_code}} - {{branch.description}}{{branch.origin_desc}}</option>
                                </select> <br />
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label>Product: *</label>
                            </div>
                            <div class="col-md-7">
                                <select id="cntype1" ng-model="vm.insert.dropcode" class="form-control" ng-change="vm.change(vm.insert.dropcode)">
                                    <option value="{{cntype.dropcode}}" ng-repeat="cntype in vm.getcn">{{cntype.desc}}</option>
                                </select> <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>SubProduct: *</label>
                            </div>
                            <div class="col-md-7">
                                <select ng-model="vm.insert.subcn" class="form-control" ng-change="vm.changesub(vm.insert.subcn)">
                                    <option value="{{cnsub.dropcode}}" ng-repeat="cnsub in vm.getsubcn">{{cnsub.desc}}</option>
                                </select> <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Account: *</label>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="vm.insert.caccountno">
                                    <option value="{{account.caccountno}}" ng-repeat="account in vm.account">{{account.ccompanyname}}</option>
                                </select> <br />
                            </div>
                        </div>
                    </div>
                    <div style="float:left;" class="col-lg-6">
                        <div class="row">

                            <div class="col-md-3" style="float:left;">
                                <label style="margin-right:10%;">Quantity: *</label>
                            </div>
                            <div class="col-md-7">
                                <input id="quantity" class="form-control" ng-model="vm.insert.quantity" ng-change="vm.changeinval(vm.insert.quantity,vm.insert.subcn)" /> <br />
                                <p id="quanremark"></p><p id="char"></p>
                                <br />
                            </div>
                            <div class="row">
                                <div class="col-md-3" style="float:left;">
                                    <label>Remarks:</label>
                                </div>
                                <div class="col-md-7">
                                    @*<input class="form-control" style="height:100px;" />*@
                                    <textarea class="form-control" style="margin-left:8px;" rows="4" cols="34" ng-model="vm.insert.remark" maxlength="100"></textarea>
                                    <button style="float:right; margin-top:5%; margin-bottom:5%;" id="addbutton" class="btn btn-primary" ng-click="vm.add(vm)"><span class="glyphicon glyphicon-plus"></span> ADD</button><br />
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </form>
            <div id="refercode" style="display:none">
                <p ng-repeat="refercode in vm.referencecode">{{refercode}}</p> &nbsp;
            </div>
            <div id="tablediv" class="col-md-10" style="display:none;">
                <table id="table2" class="table table-striped">
                    <thead class="thead-dark" style="background-color:black; color:white;">
                        <tr>
                            @*<th>NO.</th>*@

                            <th>Product </th>
                            <th>Sub Product </th>
                            <th>Quantity</th>
                            <th>Account No.</th>
                            <th>Remarks</th>
                            <th>Branch</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="datainsert in vm.appearhtml">
                        @*<tr>
                        <td>{{datainsert.NO}}</td>
                        <td>{{datainsert.dropcode}}</td>
                        <td>{{datainsert.subcn}}</td>
                        <td>{{datainsert.quantity}}</td>
                        <td>{{datainsert.caccountno}}</td>
                        <td>{{datainsert.remark}}</td>
                        <td>KIUA</td>
                    </tr>*@
                        <tr>
                            @*<td>{{datainsert.NO}}</td>*@

                            <td><b>{{datainsert.dropname}}</b></td>
                            <td><b>{{datainsert.subcname}}</b></td>
                            <td><b>{{datainsert.quantity}}</b></td>
                            <td><b>{{datainsert.caccountno}}</b></td>
                            <td><b>{{datainsert.remark}}</b></td>
                            <td><b>{{datainsert.branch}}</b></td>
                            <td><a href="" ng-click="vm.delete(datainsert.caccountno)"><i class="material-icons">delete</i></a></td>
                        </tr>
                    </tbody>
                </table>
                <button style="float:right;" class="btn btn-primary" ng-click="vm.show()">SUBMIT</button>
                @*<button class="btn btn-warning" ng-click="vm.reset()">CANCEL</button>*@
            </div>
        </div>
        <div class="modal-footer">

        </div>
        
    </div>
    @*<div class="card">*@
      
    @*</div>*@
    <div class="modal fade" id="submission" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5>Confirm submission</h5>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.create()">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.back()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="refercodetable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">

        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Items submitted : Requisition ID</h4>
                </div>
                <div class="modal-body">
                    <div id="refercode">
                        <p ng-repeat="refercode in vm.referencecode"> {{refercode}}</p> &nbsp;
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="vm.close()">CLOSE</button>
                </div>
            </div>
        </div>


    </div>


</div>